:root {
    --main-color: rgb(155, 77, 202);
    --red-color: rgb(236, 13, 13);
    --green-color: rgb(0, 155, 8);
    --blue-color: #006eff;
    --yellow-color: #cca509;
    --gray-color: rgb(118, 118, 118);
}
