@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import "../layout.css";
body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
#title{
    color: var(--main-color);
    margin: 3px;
}
.main{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer{
    margin-top: 7rem;
}
.icon{
    color: red;
}
.footer a{
    text-decoration: none;
}
@media only screen and (max-width: 600px) {
    .main{
        padding: 1rem;
    }
    .footer{
        margin-top: 1.2rem
    }
}